<!-- メインカラム -->
<h1 class="pt-3 my-5 text-center emboss wf-nicomoji"> <%= @genre.genre_name %> </h1>
<div class="container">
<div class="row">

<p>
<%= @genre_items.total_count %>件中<%= @genre_items.offset_value %>
〜<%= @genre_items.offset_value + @genre_items.length %>件を表示しています。
</p>

<!-- メインカラム -->
<div class="col-lg-12 mb-5">

<div class="container">
<div class="row">

<% @genre_items.each do |item| %>
<div class="card mx-auto mb-3" style="width: 16rem;">
<%= attachment_image_tag item, :item_img, class:"card-img-top", style: "height: 16rem;" %>
  <div class="card-body">
    <h5 class="card-title wf-nicomoji"><%= link_to item.album_name, item_path(item.id), class:"text-danger" %></h5>
    <h5 class="card-title wf-nicomoji"><%= item.artist.artist_name %></h5>
    <h5 class="card-title wf-nicomoji"><%= item.label %></h5>
    <h5 class="card-title wf-nicomoji">¥<%= item.item_price_tax_free %></h5>
    <div class="card-body button-center" style="padding: 0;">
    <%= link_to item_path(item.id), class:"btn btn-outline-danger card-button wf-nicomoji" do %>
    SHOW <i class="fas fa-chevron-right"></i>
    <% end %>
    </div>
  </div>
</div>
 <% end %>
</div><!-- /row -->

</div><!-- /container -->
</div><!-- /col-lg-12 mb-5 -->

<!-- ページャー -->
<div class="mx-auto mb-5">
<%= paginate @genre_items, class: "pagenate" %>
</div>

</div>
</div>
