<h1>Sendings#edit:送付先編集</h1>
<p>Find me in app/views/sendings/edit.html.erb</p>

<%= form_for @sending, url:user_sending_path do |f| %>
<h2>配送先編集</h2>
<p>送付先名称</p><%= f.text_field :sending_name %>
<p>郵便番号</p><%= f.text_field :sending_code %>
<p>住所</p><%= f.text_field :sending_address %></br>
<%=f.submit "送付先を編集する", url:user_sending_path %>
<% end %>



<%= link_to "マイページに戻る",user_path(current_user) %>
