
<h2 class="text-center border-bottom my-5"><%= current_user.user_name %>さんの編集ページ</h2>

<div class="container">
<div class="row">
<div class="col-6 mx-auto">
<%= form_for(current_user , url: user_path , method: :patch) do |f| %>
<table class="col-10 mx-auto">
	<tr>
		<td><span class = "fa fa-user"></span> ユーザーネーム</td>
		<td class="float-right"><%= f.text_field :user_name %></td>
	</tr>

	<tr>
		<td><i class="fas fa-language"></i> 氏名（カタカナ）</td>
		<td class="float-right"><%= f.text_field :name_kana %></td>
	</tr>
	<tr>
		<td><i class="fas fa-language"></i> 氏名（漢字）</td>
		<td class="float-right"><%= f.text_field :name_kanji %></td>
	</tr>
	<tr>
		<td><span class = "fa fa-phone"></span> 電話番号</td>
		<td class="float-right"><%= f.text_field :phone_number %></td>
	</tr>
	<tr>
		<td><span style="font-weight: bold;">〒</span> 郵便番号</td>
		<td class="float-right"><%= f.text_field :postal_code %></td>
	</tr>
	<tr>
		<td><i class="fas fa-home"></i> 住所</td>
		<td class="float-right"><%= f.text_field :address %></td>
	</tr>
	<tr>
		<td><span class = "fa fa-envelope"></span> Email</td>
		<td class="float-right"><%= f.email_field :email %></td>
	</tr>
	<tr>
		<td colspan="2">
			<%= button_tag :type => "submit", :class =>"btn btn-danger mt-3 w-100" do %>
 			<i class="fas fa-wrench"></i> 編集
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<%= link_to user_path(current_user), class: "btn btn-success float-right mt-5" do %> 
		<i class="fas fa-chevron-left"></i>	マイページにもどる
		<% end %>
		</td>
	</tr>
</table>
<% end %>



</div><!-- /col-6 mx-auto -->


</div><!-- /row -->
</div><!-- /container -->
