<h1>Users#show:マイページ</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to "退会", user_destroy_path, method: :patch %>

<h2><%= current_user.user_name %>のマイページ</h2>

	<h3>User Info</h3>
<p>Name：<%= current_user.name_kanji %>（<%= current_user.name_kana %>）</p>
<p>Tel：<%= current_user.phone_number %></p>
<p>郵便番号：<%= current_user.postal_code %></p>
<p>Address：<%= current_user.address %></p>
<p>Address：<%= current_user.email %></p>

<p><%= link_to "編集",edit_user_path(current_user.id) %></p>
<!-- リンク先を追加 -->

<% current_user.orders.each do |order| %>
	<p>配送状況：<%= order.status %></p>
	<% order.order_items.each do |oi| %>
		<p>購入商品名：<%= oi.item.album_name %></p>
		<p>個数：<%= oi.item_order_counted %>  小計：<%=oi.item_order_counted * oi.item_order_price %></p>
	<% end %>
	--
<% end %></br></br>

<!-- orderのpagenate -->


