<<<<<<< HEAD
  <h2 class="my-5 border-bottom text-center">ユーザー編集</h2>
<div class="container">
<div class="row">
=======
>>>>>>> ded39534e76b8a725daf45b7f14e368eb1ca2b93

<div class="col-6 mx-auto">
<%= form_for(@user, url: admins_user_path, method: :patch) do |f| %>
<table class="col-10 mx-auto">
  <tr>
    <td><span class = "fa fa-user"></span> ユーザーネーム</td>
    <td class="float-right"><%= f.text_field :user_name %></td>
  </tr>

  <tr>
    <td><i class="fas fa-language"></i> 氏名（カタカナ）</td>
    <td class="float-right"><%= f.text_field :name_kana %></td>
  </tr>
  <tr>
    <td><i class="fas fa-language"></i> 氏名（漢字）</td>
    <td class="float-right"><%= f.text_field :name_kanji %></td>
  </tr>
  <tr>
    <td><span class = "fa fa-phone"></span> 電話番号</td>
    <td class="float-right"><%= f.text_field :phone_number %></td>
  </tr>
  <tr>
    <td><span style="font-weight: bold;">〒</span> 郵便番号</td>
    <td class="float-right"><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
    <td><i class="fas fa-home"></i> 住所</td>
    <td class="float-right"><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td><span class = "fa fa-envelope"></span> Email</td>
    <td class="float-right"><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= button_tag :type => "submit", :class =>"btn btn-warning my-3
      col-6" do %>
      <i class="fas fa-wrench"></i> 編集
      <% end %>
       <%= link_to admins_destroy_user_path(@user), method: :patch , data: {confirm: "本当にこのユーザーを削除しますか？\n一度削除したユーザーは元に戻せません。"}, class: "btn btn-danger white-text my-3 float-right" do %>
      このユーザーを削除する<i class="far fa-trash-alt"></i>
    <% end %> 

    </td>
  </tr>
</table>
<% end %>
</div>

</div><!-- col-6 -->
</div><!-- row -->
<p class="text-center">
  <%= link_to admins_users_path , class: "btn btn-info col-4 mt-3" do %>
  <i class="fas fa-chevron-left"></i> 戻る
  <% end %>
</p>
</div><!-- container -->

