<h1>Admins::Users#show</h1>
<p>Find me in app/views/admins/users/show.html.erb</p>

<h2 class="border-bottom text-center my-5">
	<%= @user.name_kanji %> さんの購入履歴
</h2>

<div class="container">
<div class="row">

<table class="col-lg-12 table">
  <thead>
    <tr>
      <th scope="col">ステータス</th>
      <th scope="col">注文詳細</th>
      <th scope="col">購入したもの</th>
      <th scope="col">合計金額</th>
    </tr>
  </thead>


  <% @user.orders.each do |order| %><% @total = 0 %>
  <tbody>
    <tr>
      <th scope="row">
        <% if order.status == "準備中" %>
          <div class="alert alert-danger" role="alert">
            <h4 class="text-center"><%= order.status %></h4>
          </div>
        <% elsif order.status == "発送中" %>
          <div class="alert alert-warning" role="alert">
            <h4 class="text-center"><%= order.status %></h4>
          </div>
        <% else %>
          <div class="alert alert-primary" role="alert">
            <h4 class="text-center"><%= order.status %></h4>
          </div>
        <% end %>
      </th>
      <td><p><strong>注文確定日</strong></br><%= order.created_at.strftime('%Y/%m/%d') %></p>
          <p><strong>送付先郵便番号</strong></br><%= order.order_sending_postal_code %></p>
          <p><strong>送付先住所</strong></br><%= order.order_sending_str %></p></td>
       <td>
           <table class="table">
            <tbody>
        <% order.order_items.each do |order_item| %>
          <tr class="table-secondary">
            <td><%= link_to admins_item_path(order_item.item) do %><%= order_item.item.album_name %><% end %></td>
            <td><%= order_item.item_order_counted %>個</td>
            <td>*</td>
            <td>¥<%= order_item.item_order_price %></td>
            <td>=</td>
            <td>¥<%= order_item.item_order_counted * order_item.item_order_price %></td>
          </tr>
        </tbody>
        <% @total += order_item.item_order_counted * order_item.item_order_price %>
        <% end %>
      </table>
      </td>
      <td>¥<%= @total %></td>
    </tr>
  </tbody>
  <% end %>
</table>

</div>
</div>
