
<div class="container">
	<div class="row">

	    <div class="my-3 col-12" style="width: 100%;">
	      <h3 class="border-bottom text-center my-5">商品の詳細を編集してください。</h3>
<% if @item.item_show_flg == false %>
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
  		<strong>取り扱い停止中のアイテムです！</strong></br>更新する前に取り扱いを再開してください。
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
   		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
<% end %>
        	<%= form_for(@item, url: admins_item_path, method: :patch) do |f| %>
			    <table class="table" >
			      <thead class="thead-light">
			        <tr>
			          <th scope="col">ジャケット</th>
			          <th scope="col">シングル/アルバム名</th>
			          <th scope="col">レーベル</th>
			          <th scope="col">値段</th>
			          <th scope="col">ジャンル</th>
			          <th scope="col">在庫</th>
			          <th scope="col">発売日</th>
			          <th scope="col"></th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="tr">
						<td><%= f.attachment_field :item_img%></td>
						<td><%= f.text_field :album_name,size: 12 %></td>
						<td><%= f.text_field :label,size: 5 %></td>
						<td><%= f.text_field :item_price_tax_free,size: 5 %></td>
						<td><%= f.text_field :genre_id,size: 1 %></td>
						<td><%= f.text_field :stock ,size: 3%></td>
						<td><%= f.text_field :on_sale_date,size: 8 %></td>
						<td>
							<%= f.submit "更新", class: "btn btn-danger mb-2" %><% end %>
						</td>
			        </tr>
			      </tbody>
				</table>
		</div>
		<%= link_to :back, class: "my-3 col-2 btn btn-success white-text mx-auto" do %>
                    <i class="fas fa-chevron-left"></i> 前のページに戻る
                    <% end %>
	</div>
</div>

