<div class="container">
	<div class="row">
		<h1>Admins::Items#edit</h1>
		<p>Find me in app/views/admins/items/edit.html.erb</p>

	    <div class="my-3 col-12 mx-auto" style="width: 100%;">
	      <h3 class="border-bottom mb-5">商品の詳細を編集してください。</h3>
		</div>

	    <div class="row">
        	<%= form_for(@item, url: admins_item_path, method: :patch) do |f| %>
			    <table class="table col-12 mx-auto" >
			      <thead class="thead-light">
			        <tr>
			          <th scope="col">ジャケット</th>
			          <th scope="col">シングル/アルバム名</th>
			          <th scope="col">レーベル</th>
			          <th scope="col">値段</th>
			          <th scope="col">ジャンル</th>
			          <th scope="col">在庫</th>
			          <th scope="col">発売日</th>
			          <th scope="col"></th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="tr">
						<td><%= f.attachment_field :item_img %></td>
						<td><%= f.text_field :album_name %></td>
						<td><%= f.text_field :label %></td>
						<td><%= f.text_field :item_price_tax_free %></td>
						<td><%= f.text_field :genre_id %></td>
						<td><%= f.text_field :stock %></td>
						<td><%= f.text_field :on_sale_date %></td>
						<td>
							<%= f.submit "更新", class: "btn btn-danger" %><% end %>
							<%= link_to "削除", hidden_item_path(@item), method: :patch, class: "btn btn-danger" %>
						</td>
			        </tr>
			      </tbody>
				</table>
		</div>
	</div>
</div>
