<div class="container">
	<div class="row">
		<h1>Admins::Items#new</h1>
		<p>Find me in app/views/admins/items/new.html.erb</p>

		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<h1><%= @artist.artist_name %>の商品を追加</h1>

			<%= form_for(@item, url: admins_items_path, method: :post) do |f| %>
				<table>
					<tr>
						<div class="row">
							<td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">ジャケット</td>
							<td class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
								<%= f.attachment_field :item_img %>
							</td>
							<td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
								<%= link_to "画像をアップロードする", :back, class: "btn btn-danger" %>
							</td>
						</div>
					</tr>
					<tr>
						<td>シングル/アルバム</td>
						<td><%= f.text_field :album_name %></td>
						<td></td>
					</tr>
					<tr>
						<td>レーベル</td>
						<td><%= f.text_field :label %></td>
						<td></td>
					</tr>
					<tr>
						<td>値段</td>
						<td><%= f.text_field :item_price_tax_free %></td>
						<td></td>
					</tr>
					<tr>
						<td>ジャンル</td>
						<td><%= f.text_field :genre_id %></td>
						<td></td>
					</tr>
					<tr>
						<td>在庫</p>
						<td><%= f.text_field :stock %></td>
						<td></td>
					</tr>
					<tr>
						<td>発売日</p>
						<td><%= f.text_field :on_sale_date %></td>
						<td></td>
					</tr>
					<tr>
						<td>アーティストid</p>
						<td><%= f.text_field :artist_id, value: @artist.id %></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><%= f.submit '商品を新規追加する', class: "btn btn-danger" %></td>
					</tr>
				</table>
			<% end %>

		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
</div>