
<h1>Admins::Items#show</h1>
<p>Find me in app/views/admins/items/show.html.erb</p>

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mx-auto">
 <h2 class="my-5"><%= @artist.artist_name %> / <%= @item.album_name %>-詳細</h2>

 <table class="table">
   <thead class="thead-dark">
     <tr>
       <th scope="col">ジャケット</th>
       <th scope="col">シングル/アルバム</th>
       <th scope="col">ジャンル</th>
       <th scope="col">レーベル</th>
       <th scope="col">値段</th>
       <th scope="col">在庫</th>
       <th scope="col"></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">
         <%= attachment_image_tag @item, :item_img, style: "width: 100px; height: 100px;" %>
       </th>
       <td><%= @item.album_name %></td>
       <td><%= @genre.genre_name %></td>
       <td><%= @item.label %></td>
       <td><%= @item.item_price_tax_free %></td>
       <td><%= @item.stock %></td>
       <td>
        <%= link_to admins_artist_path(@artist), class: "btn btn-danger white-text" do %>
        <i class="fas fa-wrench"></i> 編集
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<h3 class="my-5">含まれているdisc一覧</h3>

<table class="table">

  <thead class="thead-light">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">曲数</th>
      <th scope="col">曲名一覧</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @discs.each do |disc| %>
    <tr>
      <td scope="row"><%= disc.disc_type %></td>
      <td><%= disc.songs.count %></td>

      <!-- 折りたたみコンテンツでの曲名一覧はエラーが出たので、とりあえずは後回しで 須加尾-->

      <td>
          <% disc.songs.each do |disc_song| %><!-- 曲名のeach -->
            <ul>
              <li><%= disc_song.song_name %></li>
            </ul>
          </div>
          <% end %>
        </div>
      </td>
      <td><%= link_to "編集", edit_admins_item_disc_path(@item, disc.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= link_to :back, class: "btn btn-success white-text" do %>
  <i class="fas fa-chevron-left"></i> 戻る
  <% end %>
</div>

</div>
