<h1>CartItems#index:マイカート</h1>
<p>Find me in app/views/cart_items/index.html.erb</p>

<p><%= current_user.user_name %>さんのカート一覧</p>



<h2 class="text-center text-danger"><%= flash[:countupdate] %></br>
 <%= flash[:cartitemdestroy] %></h2>
<div class="container">
<div class="row">

<div class="mt-5 col-10 mx-auto" style="width: 100%;">
 <h1 class="border-bottom mb-5 float-left">
   <i class="fas fa-shopping-cart"></i><%= current_user.user_name %> Cart
 </h1>

<%= link_to new_user_order_path(current_user.id), class:"btn btn-outline-danger col-2 float-right" do %>
     <i class="fas fa-shopping-basket"></i> レジに進む
<% end %>
</div>

<table class="table col-10 mx-auto">
  
 
 <thead class="table-danger">
   <tr>
     <th scope="col">ジャケット</th>
     <th scope="col">商品名</th>
     <th scope="col"></th>
     <th scope="col"></th>
     <th scope="col">値段</th>
     <th scope="col">個数/更新</th>
     <th scope="col">削除</th>
     <th scope="col">小計</th>
   </tr>
 </thead>
 <% @cart_items.each do |cart_item| %>
 <tbody>
   <tr>
     <th scope="row">
     <%= attachment_image_tag cart_item.item, :item_img, class:"card-img-top", style: "width: 100px; height: 100px;" %>
     </th>
     <td><%= cart_item.item.album_name %></td>
     <td></td>
     <td></td>
     <td>¥<%= cart_item.item.item_price_tax_free %></td>
     <td>


     <%= form_for(cart_item, url: user_cart_item_path(current_user,cart_item), method: :patch) do |f| %>
     <%= f.number_field :item_cart_counted , in: 1...501 %>
      <%= button_tag :type => "submit", :class =>"btn btn-danger" do %>
        <i class="fas fa-sync"></i>
      <% end %>
    <% end %>
     <td>
     <%= link_to user_cart_item_path(current_user, cart_item), method: :delete,class:"btn btn-danger" do %>
     <i class="fas fa-times"></i>
     <% end %>

     <td>¥<%= cart_item.item.item_price_tax_free * cart_item.item_cart_counted %></td>
   </tr>
 </tbody>
 <% end %>

</table>

<div class="col-lg-10 text-right mx-auto my-5">
<h2 class="border-bottom">合計　¥<%= @sum  %></h2>
</div>

</div>
</div> 

