
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag '1.jpg', class:"d-block w-100", :alt => 'First slide' %>
    </div>
    <div class="carousel-item">
    <%= image_tag '2.jpg', class:"d-block w-100", :alt => 'Second slide' %>
    </div>
    <div class="carousel-item">
    <%= image_tag '3.jpg', class:"d-block w-100", :alt => 'Third slide' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
<div class="row">

<!-- サイドバー　アーティスト -->
<div class="col-lg-12 my-3">

<!-- 折りたたみコンテンツ　ジャンル一覧 -->

<div class="open">
  <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label class="col-lg-12 btn btn-danger" for="nav-input">
      ジャンル一覧</label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>

      <div id="nav-content">
        <h2 class="text-center border-bottom my-2">ジャンル</h2>
        <% @genres.each do |genre| %>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <%= link_to genre.genre_name , genre_path(genre.id), class:"nav-link text-danger" %>
          </li>
          <% end %>
        </ul>
        </div><!-- /nav-content -->
      </div><!-- nav-drawer -->
  </div><!-- open -->
</div><!-- col-lg-12 my-3 -->

<!-- メインカラム -->
<div class="col-lg-12 mb-5">

<div class="container">
<div class="row">

<% @items.each do |item| %>
<div class="card mx-auto mb-3" style="width: 18rem;">
<%= attachment_image_tag item, :item_img, class:"card-img-top", style: "height: 200px;" %>
  <div class="card-body">
    <h5 class="card-title"><%= item.album_name %></h5>
    <h5 class="card-title"><%= item.artist.artist_name %></h5>
    <h5 class="card-title">¥<%= item.item_price_tax_free %></h5>
    <div class="card-body button-center" style="padding: 0;">
    <%= link_to item_path(item.id), class:"btn btn-outline-danger card-button" do %>
    詳細 <i class="fas fa-chevron-right"></i>
    <% end %>
    </div>
  </div>
</div>
 <% end %>
</div>

</div><!-- /row -->
</div><!-- /container -->

<!-- ページャー -->
<div class="mx-auto my-5">
<nav aria-label="... ">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>


</div>







</div>
</div>





<!-- pagenateをします -->