
<div class="container mt-5">


<div class="row">
	<!-- left　column -->
<div class="col-lg-5 bg-white mb-5">
	<%= attachment_image_tag @item, :item_img, class:"", style: "width: 100%; height: 100%;" %>
</div>				
	<!-- center column -->
<div class="col-lg-5 bg-white px-3 mb-5">
		<h2 class="my-3"><%= @item.album_name %></h2>
		<p class="mb-2">アーティスト: <%= @item.artist.artist_name %></p>
		<p class="mb-1">レーベル: <%= @item.label %></p>
		<p class="mb-2">ジャンル: <%= @item.genre.genre_name %></p>
		<p class="d-inline">価格</p>
		<h3  class="mb-3">¥ <%= @item.item_price_tax_free %></h3>
		<% if @item.item_show_flg == true %>
		<p class="mb-3">在庫: <%= @item.stock %>点</p>
		   <% if @item.stock == 0 %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
  		<strong>在庫が切れています。</strong></br>申し訳ございませんが、入荷までお待ちください。
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
		   <% end %>

		   <% end %>

		   <% if @item.item_show_flg == false %>
		<div class="alert alert-danger" role="alert">
  		<strong>大変申し訳ございません。</strong>現在取り扱いを停止しています。</br>
	</div>
	<% end %>
	<% if @item.item_show_flg == true && @item.stock != 0 && user_signed_in? %>

		   <div class="Bottom-Fixation">
			<%= form_for(@cart_item , url:item_cart_items_path(@item), html:  {class: "float-right aaa"}) do |f|  %>
			<%= f.number_field :item_cart_counted ,value:"1", in: 1...501, size: 20 %>点
				<% if @item.item_show_flg == true %>
				<%= button_tag :type => "submit", :class =>"btn btn-danger" do %>
	  				<i class="fas fa-cart-arrow-down"></i> カートにいれる
				<% end %>
			<% end %>
		<% end %>

		</div>
<% end %>
</div><!-- center column col-lg-5 -->

<!-- right column -->
<div class="col-lg-2 bg-white mb-5">
	<h3 class="my-3 mx-3">DISK</h3>
<!-- Button trigger modal -->
	<% @n = 1%>

	<% @item.discs.each do |id| %>
	<button type="button" class="btn btn-outline-warning w-100 mb-3" data-toggle="modal" data-target="#exampleModalLong<%= @n %>">
  	No.<%= @n %>
	</button>
	<% @n += 1 %><% end %>

<!-- Modal -->
<% @n2 = 1%>
<% @item.discs.each do |ud| %>
<div class="modal fade" id="exampleModalLong<%= @n2 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
        	商品型：<%= ud.disc_type %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<% @no = 1 %>
				<% ud.songs.each do |is| %>
				No.<%= @no %>：<%= is.song_name%><br><% @no += 1 %>
				<% end %>
				<% @n2 += 1 %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /modal-content -->
  </div><!-- /div class="modal-dialog" role="document" -->

</div>
<% end %>
</div><!-- right column col-lg-2 -->



<%= link_to :back, class: "btn btn-success white-text col-lg-6 mx-auto mb-5" do %>
                    <i class="fas fa-chevron-left"></i> 前のページに戻る
                    <% end %>


</div><!-- /row -->
</div><!-- /container -->
