<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<h4>配送ステータスは準備中→発送準備中→発送完了の順に更新されます。</h4></br>

<!-- 準備中（受付中） -->
<% @orders1.each do |o| %>
<% @total = 0 %><%= o.id %>
ステータス：<%= o.status %></br>
注文ユーザー：<%= o.user.user_name %></br>
氏名：<%= o.user.name_kanji %>(<%= o.user.name_kana %>)</br>
送付先：<%= o.user.address %></br>

注文内容</br>
<% o.order_items.each do |o_oi| %>
アルバム名：<%= o_oi.item.album_name %></br>
アーティスト名：<%= o_oi.item.artist.artist_name %></br>
単価：<%= o_oi.item_order_price %>　購入個数：<%= o_oi.item_order_counted %>  
小計：<%= o_oi.item_order_price * o_oi.item_order_counted %>
<% @total += o_oi.item_order_price * o_oi.item_order_counted %>
<% end %>
合計：<%= @total %></br>
<%= link_to "配送ステータス変更",admins_order_path(o), method: :patch, data: {confirm: "配送ステータスを変更しますか？"} %></br></br>
<% end %></br></br>

<!-- 発想準備中 -->
<% @orders2.each do |o| %>
<% @total = 0 %><%= o.id %>
ステータス：<%= o.status %></br>
注文ユーザー：<%= o.user.user_name %></br>
氏名：<%= o.user.name_kanji %>(<%= o.user.name_kana %>)</br>
送付先：<%= o.user.address %></br>

注文内容</br>
<% o.order_items.each do |o_oi| %>
アルバム名：<%= o_oi.item.album_name %></br>
アーティスト名：<%= o_oi.item.artist.artist_name %></br>
単価：<%= o_oi.item_order_price %>　購入個数：<%= o_oi.item_order_counted %>  
小計：<%= o_oi.item_order_price * o_oi.item_order_counted %>
<% @total += o_oi.item_order_price * o_oi.item_order_counted %>
<% end %>
合計：<%= @total %></br>
<%= link_to "配送ステータス変更",admins_order_path(o), method: :patch, data: {confirm: "配送ステータスを変更しますか？"} %></br></br>
<% end %></br></br>

<!-- 発送完了 -->
<% @orders3.each do |o| %>
<% @total = 0 %><%= o.id %>
ステータス：<%= o.status %></br>
注文ユーザー：<%= o.user.user_name %></br>
氏名：<%= o.user.name_kanji %>(<%= o.user.name_kana %>)</br>
送付先：<%= o.user.address %></br>

注文内容</br>
<% o.order_items.each do |o_oi| %>
アルバム名：<%= o_oi.item.album_name %></br>
アーティスト名：<%= o_oi.item.artist.artist_name %></br>
単価：<%= o_oi.item_order_price %>　購入個数：<%= o_oi.item_order_counted %>  
小計：<%= o_oi.item_order_price * o_oi.item_order_counted %>
<% @total += o_oi.item_order_price * o_oi.item_order_counted %>
<% end %>
合計：<%= @total %></br>
<%= link_to "配送ステータス変更",admins_order_path(o), method: :patch, data: {confirm: "配送ステータスを変更しますか？"} %></br></br>
<% end %></br></br>
